<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock title%}</title>
    {% load static %}
</head>
{% block body %}
<body>
   
    <header>
        <img src="{% static 'core/img/tigo-logo.png' %}" alt="logo" class"logo">

        <nav>
            <li>
                <a href="{% url 'createArticle' %}">crear articulo</a>
            </li>
           
            </li>
        </nav>
    </header>

    <h1>Lista de articulos:</h1>
        <table border="2">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Segmento</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article.nombreArticulo}}</td>
                    <td>{{ article.segmento}}</td>
                    <td>{{ article.categoria}}</td>
                    <td><a href="{% url 'editArticle' article.id %}">Editar</a> <a href="{% url 'eraseArticle' article.id %}">Eliminar</a></td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Buscador</h2>
        <form class="d-flex" method=POST action="{% url 'search_r' %}">
            {% csrf_token %}

            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
            <button class="btn btn-online-secondary" type="submit">Search</button>
        </form>
    
</body>
{% endblock body %}
</html>